*.aux
*.fdb_latexmk
*.fls
*.log
**/_minted-praca/**
*.synctex.gz
*.pdf
*.toc
*.bak_*
*.lck
*.pygstyle
*.pygtex
*.bcf
*.lot
*.bbl
*.blg
*.run.xml
*.loa
!titlepage.pdf
!titlepage.docx
document/praca_v3.lof
~$*.pptx
*.co
*.code
*.lo